<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/register.svg" alt="">

  <ion-item>
      <ion-label position="floating" > Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>

<ion-item>
  <ion-label position="floating" > Correo electrónico</ion-label>
  <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" > Contraseña</ion-label>
  <ion-input  type="password" [(ngModel)]="password" name="password"></ion-input>
</ion-item>
<br>
<ion-button color="secondary" expand="block" (click)="OnSubmitRegister()">Registrarse</ion-button>
<br>
<p text-center routerLink="/login">Ya tengo cuenta</p>


</ion-content>