.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.social-facebook{
    --background : #3b5998;
}
.social-google{
    --background : #dd4b39;
}
.social-twitter{
    --background : #55acee;
}