<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <img class="icon" src="assets/icon/chat_icon.svg" alt="">
<ion-item>
  <ion-label position="floating" > Correo electrónico</ion-label>
  <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" > Contraseña</ion-label>
  <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
</ion-item>
<br>
<ion-button (click)="onSubmitLogin()" expand="block">Entrar</ion-button>
<br>
<p text-center routerLink="/registro">Crear cuenta</p>

</ion-content>


